@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:900&display=swap");


body {
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aa9ce8;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #aa9ce8;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #aa9ce8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

a {
    color: #aa9ce8;
    text-decoration: none;
    margin-top: 10px;
}

h4 {
    color: #8270d9;
    text-decoration: none;
    margin-top: 10px;
}

h5 {
    color: #5d5454;
}

h1 {
    color: #ffffff;
    font-family: "Roxborough CF", th, serif;
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
}

::-moz-selection {
    background: black;
}

::selection {
    background: black;
}




::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Roxborough CF", th, serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    min-height: 100vh;
    background-color: #a396e3;
    /*background-image: url("../pics/backgroundWave.gif");*/
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

a {
    color: #6557a9;
    font-family: "Roxborough CF", th, serif;
    text-align: center;
    font-size: 40px;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 50%;
}

.links {
    position: absolute;
    margin: auto;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 50%;
}

.href {
    position: center;
    margin: auto;
    width: 180px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid #6557a9;
    border-radius: 2px;
    background: none;
    font-size: 10px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 50;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: end;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
}

.href:hover {
    background: #6557a9;
    color: #f3f9ff;
}